:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    overflow-y: hidden; 
    background-color: white;
}

.navbar-burger {
    display: flex;
    position: absolute; 
    z-index: 10;
    color:black;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0);
    }
}
