:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-y: hidden;
  background-color: white;
}

.navbar-burger {
  display: block;
  z-index: 10;
  color: black;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0);
  }
}

#icon-menu {
  color: black;
  z-index: 10;
  display: none;
  margin: auto;
  user-select: none;
  -moz-user-select: none;
}

#header-menu {
  position: absolute;
  display: flex;
}

.icon-menu-icon {
  padding-left: 8px;
  cursor: pointer;
}

.modal-card-head {
  box-shadow: none;
}

.modal-card-foot {
  background-color: var(--bulma-modal-card-body-background-color);
}

/* In your styles.scss or a separate CSS file */
#delete-modal .modal-card {
  width: 300px; /* Set your desired width */
  max-width: 80%; /* Optional: Limit the maximum width */
}

#delete-modal .modal-card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

#grid-dropdown {
  .dropdown-trigger .button {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #3a4045;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.1);
    }
  }

  .dropdown-menu {
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);

    .dropdown-content {
      background-color: rgba(255, 255, 255, 0.1);

      .dropdown-item {
        color: #3a4045;
        background-color: rgba(255, 255, 255, 0.1);

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          color: #3a4045;
        }

        &.is-active {
          background-color: rgba(255, 255, 255, 0.1);
          color: #3a4045;
        }
      }
    }
  }
}
