:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-y: hidden;
  background-color: white;
}

.navbar-burger {
  display: block;
  z-index: 10;
  color: black;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0);
  }
}

#icon-menu {
  color: black;
  z-index: 10;
  display: none;
}

#header-menu {
  position: absolute;
  width: 100%;
  display: flex;
}

.icon-menu-icon {
  margin: auto;
  padding: 6px;
  cursor: pointer;
}
